[submodule "third_party/rko_lio"]
	path = third_party/rko_lio
	url = https://github.com/PRBonn/rko_lio.git
[submodule "third_party/FAST_LIO"]
	path = third_party/FAST_LIO
	url = https://github.com/hku-mars/FAST_LIO.git
[submodule "third_party/LIO-SAM"]
	path = third_party/LIO-SAM
	url = https://github.com/TixiaoShan/LIO-SAM.git
