<?xml version="1.0"?>
<model>
  <name>custom_turtlebot_rkolio</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>
  <author>
    <name>Anas Alqadhi</name>
  </author>
  <description>
    Custom TurtleBot3 Waffle Pi with Velodyne VLP-16, Pixhawk Cube Orange+,
    Jetson AGX Orin housing, and RKO-LIO sensor stack for indoor 3D mapping.
  </description>
</model>
